{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    {% block content %}
    <section class="container">
        <h3>Clients</h3>
        <a href="{% url 'clients:fetch_clients' %}">
            <button class="btn-info">fetch_clients</button>
        </a>
        <a href="{% url 'clients:export_users_csv' %}">
            <button class="btn-warning">export clients</button>
        </a>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Website</th>
                    <th scope="col">Phone Numbers</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                <tr>
                    <th scope="row">{{client.id}}</th>
                    <td>{{client.name}}</td>
                    <td>{{client.address}}</td>
                    <td>{{client.website}}</td>
                    <td>{{client.phone_numbers}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    {% endblock %}
</body>

</html>
